/* App.css */
.fake-news-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.textarea-container {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.prediction-container {
  margin-top: 20px;
}

h2 {
  color: #333;
}

.prediction-text {
  font-size: 16px;
  line-height: 1.5;
}
.green-icon {
  color: green;
  font-weight: bold;
}

.orange-icon {
  color: orange;
  font-weight: bold;
}